av
black
git+https://github.com/apple/ml-depth-pro.git
einops
einshape
flow_vis
gitpython
hydra-core
ipython
jaxtyping
kornia
line_profiler
loguru
matplotlib
millify
moviepy
natsort
nengo
ninja
numba
git+https://github.com/numba/numba-scipy.git
numpy
omegaconf
opencv-python
OpenEXR
piq
prettytable
pytest
SciencePlots
scikit-image
scikit-video
scipy
streamlit
streamlit_image_coordinates
tensorboard
torchinfo
torch_tb_profiler
tqdm